body{
    font-family: 'Poppins', sans-serif;
    margin: o;
}
h1{
   font-size: 50px; 
}
.red{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image:linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flexible{
    display: flex;
}
.corner{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience2{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    }
    #first{
        border-radius: 10px;
        border-left:5px solid steelblue;
    }
    #second{
        border-radius: 10px;
        border-left: 5px solid navy;
    }
    footer p{
        text-align:center;
    }